@use "../../base/style-guide" as guide;

.comment {
	padding: 1.6rem;
	margin: {
		bottom: 1.6rem;
	}
}

.replies {
	border-left: 0.2rem solid guide.$neutral-light-gray;

	.comment {
		margin: {
			left: 1.6rem;
		}
	}
}

@include guide.media-lg {
	.comment {
		padding: {
			left: 2.4rem;
			right: 2.4rem;
		}
	}

	.replies {
		margin: {
			left: 2.4rem;
		}

		.comment {
			margin: {
				left: 2.4rem;
			}

			padding: {
				left: 2.4rem;
				right: 2.4rem;
			}
		}
	}
}
